
.App {
  padding: 30px;
}

.App > div {
  margin-right: 50px;
}

.section-accordion{
	display: flex;
}

button {
	padding: 5px;
	border-radius: 3px;
	margin: 5px;
	width: 30px;
	height: 30px;
}
.red{
	background-color: rgb(206, 27, 27);
}

.green {
	background-color: rgb(17, 85, 56);
}